<div class="alert alert-info" *ngIf="productos?.length == 0">
  No hay registros en la base de datos
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Fecha alta</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <th scope="row">{{ producto.id}}</th>
        <td>{{ producto.nombre}}</td>
        <td>{{ producto.precio}} €</td>
        <td>{{ producto.createAt | date:"dd/MM/yy"}}</td>
        <td><button type="button" class="btn btn-primary" [routerLink]="[ '/detalle', producto.id ]">Ver detalle</button></td>
      </tr>
    </tbody>
  </table>
